In [1]:
# Step 1: Import Required Libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Step 2: Load Titanic dataset from Seaborn
df = sns.load_dataset('titanic')

# Step 3: Check for Missing Values
print("Missing Values:")
print(df.isnull().sum())

# Step 4: Describe the Data
print("\nStatistical Summary:")
print(df.describe())

# Step 5: Get Data Types and General Info
print("\nData Types and Info:")
print(df.info())

# Step 6: Check Dimensions of the DataFrame
print("\nShape of the DataFrame:")
print(df.shape)  # (rows, columns)

# Step 7: Check Current Data Types
print("\nColumn Data Types:")
print(df.dtypes)

# Step 8: Convert Data Type of 'pclass' (if needed)
df['pclass'] = df['pclass'].astype(str)

# Step 9: Convert Categorical Variables to Quantitative
# Convert 'sex' column: male = 0, female = 1
df['sex'] = df['sex'].map({'male': 0, 'female': 1})

# Convert 'embarked' column: S = 0, C = 1, Q = 2
df['embarked'] = df['embarked'].map({'S': 0, 'C': 1, 'Q': 2})

# Step 10: Check Updated Data Types and First Few Rows
print("\nUpdated Data Types After Conversion:")
print(df.dtypes)

print("\nFirst 5 Rows of the Updated Dataset:")
print(df.head())

Missing Values:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Statistical Summary:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Data Types and Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

Shape of the DataFrame:
(891, 15)

Column Data Types:
survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

Updated Data Types After Conversion:
survived          int64
pclass           object
sex               int64
age             float64
sibsp             int64
parch             int64
fare            float64
embarked        float64
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

First 5 Rows of the Updated Dataset:
   survived pclass  sex   age  sibsp  parch     fare  embarked  class    who  \
0         0      3    0  22.0      1      0   7.2500       0.0  Third    man
1         1      1    1  38.0      1      0  71.2833       1.0  First  woman
2         1      3    1  26.0      0      0   7.9250       0.0  Third  woman
3         1      1    1  35.0      1      0  53.1000       0.0  First  woman
4         0      3    0  35.0      0      0   8.0500       0.0  Third    man

   adult_male deck  embark_town alive  alone
0        True  NaN  Southampton    no  False
1       False    C    Cherbourg   yes  False
2       False  NaN  Southampton   yes   True
3       False    C  Southampton   yes  False
4        True  NaN  Southampton    no   True