In [1]:
# Step 1: Import Required Libraries
import pandas as pd
import numpy as np

# Step 2: Load Dataset from CSV File
# Make sure the "train.csv" file from the Titanic dataset is in the same folder as your code
df = pd.read_csv(r"C:\Users\Sahil\Downloads\titanic.csv")

# Step 3: Check for Missing Values
print("Missing Values:")
print(df.isnull().sum())

# Step 4: Describe the Data
print("\nStatistical Summary:")
print(df.describe())

# Step 5: Get Data Types and General Info
print("\nData Types and Info:")
print(df.info())

# Step 6: Check Dimensions of the DataFrame
print("\nShape of the DataFrame:")
print(df.shape)  # (rows, columns)

# Step 7: Check Current Data Types
print("\nColumn Data Types:")
print(df.dtypes)

# Step 8: Convert Data Type of 'Pclass' (if needed)
df['Pclass'] = df['Pclass'].astype(str)

# Step 9: Convert Categorical Variables to Quantitative
# Convert 'Sex' column: male = 0, female = 1
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# Convert 'Embarked' column: S = 0, C = 1, Q = 2
df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

# Step 10: Check Updated Data Types and First Few Rows
print("\nUpdated Data Types After Conversion:")
print(df.dtypes)

print("\nFirst 5 Rows of the Updated Dataset:")
print(df.head())

Missing Values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

Statistical Summary:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

Data Types and Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

Shape of the DataFrame:
(418, 12)

Column Data Types:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Updated Data Types After Conversion:
PassengerId      int64
Survived         int64
Pclass          object
Name            object
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked         int64
dtype: object

First 5 Rows of the Updated Dataset:
   PassengerId  Survived Pclass                                          Name  \
0          892         0      3                              Kelly, Mr. James
1          893         1      3              Wilkes, Mrs. James (Ellen Needs)
2          894         0      2                     Myles, Mr. Thomas Francis
3          895         0      3                              Wirz, Mr. Albert
4          896         1      3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)

   Sex   Age  SibSp  Parch   Ticket     Fare Cabin  Embarked
0    0  34.5      0      0   330911   7.8292   NaN         2
1    1  47.0      1      0   363272   7.0000   NaN         0
2    0  62.0      0      0   240276   9.6875   NaN         2
3    0  27.0      0      0   315154   8.6625   NaN         0
4    1  22.0      1      1  3101298  12.2875   NaN         0